/*
  Author: CSE482 Project Team;
  Theme: Online Blogging website;
  version: 1.0;
*/
* {
  box-sizing: border-box; /* containers overflow control*/
}
html,
body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  background: wheat;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Trirong", serif;
  color: #2c2c54;
  margin: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.btn {
  padding: 0.5rem 1rem;
  background: #6a89cc;
  color: #0c2461;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 1.08em;
  font-family: "Trirong", serif;
}
.btn-big {
  padding: 0.5rem 1.1rem;
  line-height: 1rem;
  width: 100%;
}
.btn:hover {
  color: #1e3799;
  background: #4a69bd;
}
.text-input {
  padding: 0.5rem 1rem;
  display: block;
  width: 100%;
  border-radius: 5px;
  outline: none;
  color: #2c2c54;
  line-height: 1.5rem;
  font-family: "Trirong", serif;
}
.msg {
  width: 100%;
  margin: 5px auto;
  padding: 8px;
  border-radius: 5px;
  list-style: none;
}
.success {
  color: green;
  border: 1px solid green;
  background: rgb(113, 247, 113);
}
.error {
  color: #c23616;
  border: 1px solid #c23616;
  background: rgb(233, 78, 78);
}
/*css for bannar starts*/
.banner-img {
  background-image: url(../image/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  filter: blur(5px);
}
.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  padding: 40px 0;
  text-align: center;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
  background-color: rgba(0, 0, 0, 0.3);
  color: wheat;
  border: 10px inset #6a89cc;
}
.banner-text p {
  padding: 0.8%;
  font-family: "Trirong", serif;
}
.banner-text a {
  display: inline-block;
  padding: 10px 50px;
  border: 1px solid wheat;
  border-radius: 10px;
  color: #67e6dc;
  margin-top: 15px;
}
.banner-text a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
/*css for bannar ends*/

/*css for navigation bar starts*/
header {
  background: #40407a;
  height: 66px;
}
header * {
  color: #f7f1e3;
}
/*css for logo*/
header .logo {
  float: left;
  margin-left: 2em;
  height: inherit;
}
.logo-text {
  margin: 8px;
  font-family: "Trirong", serif;
}
.logo-text span {
  color: #67e6dc;
}
/* header's list element*/
header ul {
  float: right;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
header ul li {
  float: left;
  position: relative;
}
/* dropdown menu*/
header ul li ul {
  position: absolute;
  top: 66px;
  right: 0px;
  width: 172px;
  display: none;
  z-index: 88888;
}
header ul li:hover ul {
  display: block;
}
header ul li ul li {
  width: 100%;
}
header ul li ul li a {
  padding: 10px;
  color: #2c2c54;
  background: #f7f1e3;
}
header ul li ul li a.logout {
  color: #c23616;
}
header ul li ul li a:hover {
  background: #dcdde1;
}
header ul li a {
  display: block;
  padding: 21px;
  font-size: 1.1em;
  text-decoration: none;
}
header ul li a:hover {
  background: #2c2c54;
  transition: 0.5s;
}
header .menu-shift {
  display: none;
}
/*css for post slider starts*/
.page-wrapper a:hover {
  color: #1e3799;
}
.post-slider {
  position: relative;
}
.post-slider .slider-title {
  text-align: center;
  margin: 30px auto;
}
.post-slider .next {
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 2em;
  color: #2c2c54;
  cursor: pointer;
}
.post-slider .prev {
  position: absolute;
  top: 50%;
  left: 30px;
  font-size: 2em;
  color: #2c2c54;
  cursor: pointer;
}
.post-slider .post-wrapper {
  width: 84%;
  height: 330px;
  margin: 0px auto; /*Make the post-slider horizantally centeralize*/
  overflow: hidden;
  padding: 10px 0px 10px 0px;
}
.post-slider .post-wrapper .post {
  width: 300px;
  height: 350px;
  margin: 0px 10px;
  display: inline-block;
  background: white;
  border-radius: 5px;
  box-shadow: 1rem 1rem 1rem -1rem gray;
}
.post-slider .post-wrapper .post .post-info {
  height: 130px;
  padding: 0px 10px;
}
.post-slider .post-wrapper .post .slider-img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/*css for post slider ends*/

/*css for content section starts*/
.content {
  width: 90%;
  margin: 30px auto 30px;
  margin-bottom: 100px;
}
.content .main-content.single {
  background: white;
  padding: 20px 50px;
  font-size: 1.1em;
  border-radius: 5px;
}
.content .main-content.single .post-title {
  text-align: center;
  margin-bottom: 40px;
}
.content .main-content {
  width: 70%;
  float: left;
}
.content .main-content .post {
  width: 95%;
  height: 270px;
  margin: 20px auto;
  border-radius: 5px;
  background: white;
  position: relative;
}
.content .main-content .post .read-more {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: 1px solid #0c2461;
  background-color: transparent;
  color: #0c2461;
}
.content .main-content .post .read-more:hover {
  background: #6a89cc;
  transition: 0.25s;
}
.content .main-content .post .post-img {
  width: 40%;
  height: 90%;
  float: left;
}
.content .main-content .post .post-preview {
  width: 60%;
  padding: 10px;
  float: right;
}
.content .main-content .recent-post-title {
  margin: 20px;
}
.content .sidebar {
  width: 30%;
  float: left;
  height: 300px;
}
.content .sidebar.single {
  padding: 0px 10px;
}
/*comment section*/
.content .sidebar.single .comment {
  background: white;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.content .sidebar .section {
  background: white;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.content .sidebar .section .section-title {
  margin: 10px 0px 10px 0px;
}
.content .sidebar .section.scarch {
  margin-top: 95px;
}
.content .sidebar .section.topics ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  border-top: 1px solid #474787;
}
.content .sidebar .section.topics ul a {
  display: block;
  padding: 15px 0px 15px 0px;
  border-bottom: 1px solid #474787;
  transition: all 0.3s;
}
.content .sidebar .section.topics ul a:hover {
  padding-left: 10px;
  transition: all 0.3s;
}
/*css for content section ends*/

/*css for register From starts*/
.signup-content {
  width: 30%;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 5px;
}
.signup-content .form-title {
  text-align: center;
}
.signup-content form div {
  margin-bottom: 10px;
}
.signup-content form p {
  text-align: center;
}
.signup-content form p a {
  text-decoration: underline;
}
.signup-content form p a:hover {
  color: #4a69bd;
}
/*css for register From ends*/

/*css for footer*/
.footer {
  background: #40407a;
  color: #dcdde1;
  height: 400px;
  position: relative;
}
.footer .footer-content {
  height: 350px;
  display: flex;
}
.footer .footer-content .footer-section {
  flex: 1;
  padding: 25px;
}
.footer .footer-content h1,
.footer .footer-content h2 {
  color: white;
}
.footer .footer-content .about .contact span {
  display: block;
  margin-bottom: 2px;
}
.footer .footer-content .contact-form .contact-input {
  background: #2c2c54;
  color: #f7f1e3;
  margin-bottom: 10px;
  line-height: 1.5rem;
  padding: 0.9rem 1.4rem;
  border: none;
}
.footer .footer-content .contact-form .contact-input:focus {
  background: black;
}

.footer .footer-bottom {
  background: #474787;
  color: black;
  height: 50px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
}
.footer .footer-bottom a {
  color: #67e6dc;
  text-decoration: none;
}
.footer .footer-bottom a:hover {
  color: #82ccdd;
}
.footer .footer-content .links a {
  color: #dcdde1;
  font-size: 1.1em;
  margin-left: 10px;
  text-decoration: none;
  transition: all 0.3s;
}
.footer .footer-content .links a:hover {
  color: antiquewhite;
  margin-left: 20px;
  transition: all 0.3s;
}

@media only screen and (max-width: 750px) {
  header {
    position: relative;
  }

  header ul {
    width: 100%;
    max-height: 0px;
    background: #40407a;
    overflow: hidden;
  }
  .showing {
    max-height: 100em;
  }
  header ul li {
    width: 100%;
  }
  header ul li ul {
    position: static;
    display: block;
    width: 100%;
  }
  header ul li ul li a {
    padding: 10px;
    color: #2c2c54;
    background: #f7f1e3;
    padding-left: 50px;
  }
  header ul li ul li a:hover {
    background: #dcdde1;
  }
  header ul li ul li a.logout {
    color: #c23616;
  }
  header .menu-shift {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.9em;
  }
  header .logo {
    margin-left: 0.5em;
  }
}

/* Discussion Page */

/* container */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
}

/* responsive media query */

/* mobile screen */

@media only screen and (min-width: 540px) {
  .container {
    max-width: 540px;
  }
}

/* table screen*/
@media only screen and (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

/* Normal screen*/
@media only screen and (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}

/* Large screen*/
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
